@import "../../styles/variables.css";

.Logo {
  display: inline-block;
  font-size: 10px;
  width: 12.8em;
  height: 2.5em;
  overflow: hidden;

  @media(--xs) {
    font-size: 9px;
  }

  svg {
    height: 100%;
  }
}
