@import "../../styles/variables.css";

.Logo {
  display: inline-block;
  width: 128px;
  height: 25px;
  overflow: hidden;

  svg {
    height: 100%;
  }

  @media(--xs) {
    width: 34px;
    margin: 0 15px 0 0;
  }
}
