@import "../../styles/variables.css";

.Item {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border: none;
  text-align: left;
  min-height: 40px;
  padding: 5px 20px;
  white-space: nowrap;
  cursor: pointer;

  @media (--lg) {
    background: var(--color-desert-storm);
  }

  &:hover {
    background: #EDF3FD;
  }
}
