@import "../../styles/variables.css";

.Nav {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    @apply --font-l;
    transition: var(--transition);

    &:hover {
      color: var(--color-dodger-blue);
    }

    &_active {
      background-color: var(--color-link-water);
      cursor: default;

      &:hover {
        color: inherit;
      }
    }
  }
}
