@import "../../styles/variables.css";

.Nav {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 0;
    @apply --font-l;
    transition: var(--transition);

    &:hover {
      color: var(--color-dodger-blue);
    }

    &_active {
      color: var(--color-dodger-blue);
      cursor: default;
    }
  }
}
