@import "../../styles/variables.css";

.Nav {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    @apply --font-l;
    transition: var(--transition);

    &:hover {
      background-color: var(--color-link-water);
    }

    &_active {
      color: var(--color-indigo);
    }
  }
}
