.Tip {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0 0 24px;

  &__icon {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
