@import "../../styles/variables.css";

.SkillsSearch {
  position: relative;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    padding-left: 60px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    width: 65px;

    &_header {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      animation: ShowCheckbox var(--transition) forwards;
      transform-origin: left;
    }
  }

  &__content {
    flex: 1 1 100%;
  }

  &__body {

  }

  &__row {
    display: flex;
    align-items: center;
    min-height: 38px;
  }

  &__submit {
    margin: 0 0 0 10px;
  }

  &__footer {
    text-align: right;
    margin: 20px 0 0;
  }
}

@keyframes ShowCheckbox {
  from {
    width: 0;
  }
  to {
    width: 65px;
  }
}
