@import "../../styles/variables.css";

.SkillsSearch {
  position: relative;
  text-align: left;
  overflow: hidden;

  &__header {
    padding: 15px 20px;
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    padding-left: 60px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    width: 65px;

    &_header {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      animation: ShowCheckbox var(--transition) forwards;
      transform-origin: left;
      z-index: 3;
    }
  }

  &__content {
    flex: 1 1 100%;
    overflow: hidden;
  }

  &__body {
    padding: 0 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    min-height: 38px;
    padding: 10px 0;
  }

  &__btn {
    margin: 0 5px;
  }

  &__footer {
    text-align: right;
    margin: 0 -5px;
    padding: 25px 20px 30px;

    &_step {
      text-align: center;
      background: var(--color-desert-storm);
      padding-top: 35px;
    }
  }
}

@keyframes ShowCheckbox {
  from {
    width: 0;
  }
  to {
    width: 65px;
  }
}
