@import "../../styles/variables.css";

.SkillsetStep {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0 0 80px;
  }

  &__input {
    width: 470px;
    max-width: 100%;
    margin-bottom: 50px;
  }

  &__label {
    @apply --button-label;
  }
}
