@import "../../styles/variables.css";

.SignUpBlock {
  @apply --font-m;
  color: #000;
  margin: 30px 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin: 0 0 23px;
  }

  &__submit {
    @apply --button;
    width: 210px;
    margin: 50px 0 0;
  }

  &__submitLabel {
    @apply --font-s;
    display: block;
    width: 100%;
  }
}
