@import "../../styles/variables.css";

.ResourceHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 0 25px 60px;
  border-bottom: 1px solid transparent;
  transition: var(--transition-fast);
  z-index: 5;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    transition:  height var(--transition-fast), width var(--transition-fast);

    &:hover {
      color: var(--color-dodger-blue);
    }
  }

  &__back {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 0;
    color: var(--color-dusty-gray);
    transform: translate(0, -50%);

    path {
      fill: var(--color-dusty-gray);
    }

    &:hover {
      color: var(--color-dodger-blue);

      path {
        fill: var(--color-dodger-blue);
      }
    }
  }

  &__label {
    margin: 10px 0 0;
  }
}
