@import "../../styles/variables.css";

.ResourceHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 0 50px 60px;
  border-bottom: 1px solid transparent;
  transition: var(--transition-fast);
  z-index: 5;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin: 0 25px;
    background: none;
    border: none;
    transition:  height var(--transition-fast), width var(--transition-fast);

    @media (--xs) {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-dodger-blue);
    }
  }

  &__back {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 0;
    background: none;
    border: none;
    color: var(--color-dusty-gray);
    transform: translate(0, -100%);

    path {
      fill: var(--color-dusty-gray);
    }

    &:hover {
      color: var(--color-dodger-blue);

      path {
        fill: var(--color-dodger-blue);
      }
    }
  }

  &__label {
    margin: 10px 0 0;
  }
}
