@import "../../styles/variables.css";

.Page {
  position: relative;

  &__switcher {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    z-index: var(--z-sidebar-switcher);

    @media(--lg) {
      display: block;
    }
  }

  &__sidebar {
    @media(--lg) {
      background: #fff;
      height: 100%;
      z-index: var(--z-sidebar);
      transition: var(--transition-fast);

      &_opened {
        left: 0;
      }
    }
  }

  &_withSidebar {
    width: calc(100% - 250px);

    @media(--xl) {
      width: calc(100% - 220px);
    }

    @media(--lg) {
      width: 100%;
    }
  }
}
