@import "../../styles/variables.css";

.SkillsSuggestion {
  max-width: 100%;
  width: 500px;
  background: #fff;
  overflow: hidden;
  border-radius: var(--radius);

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-desert-storm);
    padding: 20px;
    min-height: 100px;
  }

  &__title {
    margin: 0 0 6px;
  }

  &__body {
  }

  &__row {
    display: flex;
    min-height: 38px;
  }
}
