@import "../../styles/variables.css";

.Mock {
  max-width: 740px;

  &__title {
    position: relative;
    margin: 17px 0 34px;
    padding: 0 0 0 50px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -5px;
      width: 37px;
      height: 37px;
      background: url("./icons/sleep.svg") no-repeat center/contain;
    }

    @media (--xs) {
      margin-bottom: 25px;
      padding-left: 40px;

      &:before {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__text {
    @apply --font-xl;
    color: var(--color-dusty-gray);
    font-weight: 300;
    margin: 0 0 calc(80/18)em;

    @media (--xs) {
      margin-bottom: 40px;
    }
  }
}
