@import "../../styles/variables.css";

.Mark {
  background: none;
  font-weight: 500;

  &_green {
    color: var(--color-salem);
  }

  &_blue {
    color: var(--color-dodger-blue);
  }

  &_orange {
    color: var(--color-saffron);
  }
}
