@import "variables.css";

:global {
  * {
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    appearance: none;

    &:before, &:after {
      box-sizing: border-box;
    }
  }

  body {
    @apply --font-m;
    font-family: var(--ff-roboto);
    color: var(--color-tundora);
    background: var(--color-desert-storm);
    min-width: 320px;
    margin: 0;
    overflow-x: hidden;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  img {
    border: none;
    width: auto;
    height: auto;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border-radius: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .fatal-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
  }
}
