@import "../../styles/variables.css";

.Header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 5px 20px;
  z-index: var(--z-header);

  @media(--md) {
    height: 60px;
  }

  &__logo {
    align-items: center;
    display: flex;
    flex: 250px 0 0;
    margin: 0 10px 0 0;

    @media(--lg) {
      flex: auto;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }

  &__donate {
    @apply --button;
    margin-left: 10px;

    @media (--xs) {
      padding: 9px 12px;
    }
  }
}
