@import "../../styles/variables.css";

.Header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 15px 20px;
  z-index: var(--z-header);

  &__logo {
    flex: 250px 0 0;

    @media(--lg) {
      flex: auto;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }
}
