@import "../../styles/variables.css";

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);

  &__content {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 0;

    @media(--md) {
      height: 60px;
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    flex: 250px 0 0;
    margin: 0 10px 0 0;

    @media(--xl) {
      flex-basis: 210px;
    }

    @media(--lg) {
      flex: auto;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;

    @media(--lg) {
      margin-left: 10px;
    }
  }
}
