@import "../../styles/variables.css";

.Notifications {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  max-width: 300px;
  bottom: 20px;
  right: 40px;
  z-index: var(--z-notification);

  &:not(:empty) {
    min-height: 70px;
    min-width: 100px;
  }
}
