@import "../../styles/variables.css";

.Notifications {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  min-width: 100px;
  max-width: 300px;
  min-height: 70px;
  bottom: 20px;
  right: 40px;
}
