@import "../../styles/variables.css";

.Icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  transition: var(--transition-fast);

  &_active {
    path {
      fill: var(--color-dodger-blue);
    }
  }

  &_free {
    width: auto;
    height: auto;
  }

  &_lg {
    width: 18px;
    height: 18px;
  }

  &_xl {
    width: 24px;
    height: 24px;
  }
}
