@import "../../styles/variables";

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.35;
  font-size: 14px;
  color: #424242;
  padding: 0 40px;
  min-height: 70px;

  &__section {
    min-width: 300px;
    white-space: nowrap;
    text-align: center;

    &:last-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    margin: 0 15px;

    &_mail {
      margin-left: 0;
    }

    &:hover {
      color: var(--green);
    }
  }

  &__scrolltop {
    padding: 0;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
  }
}