@import "../../styles/variables.css";

.RemoveAccount {
  max-width: 440px;

  &__title {
    margin: 0 0 10px;
  }

  &__button {
    margin: 30px 0 0;
  }

  &__text {
    margin: 0 0 10px;
  }

  &__form {
    background: #fff;
    padding: 40px;
    border-radius: var(--radius-lg);
    max-width: 370px;
  }

  &__formTitle {
    @apply --font-xl;
    font-weight: bold;
    margin: 0 0 10px;
  }

  &__warning {
    color: var(--color-red-orange);
    margin: 0 0 20px;
  }

  &__input {
    margin: 0 0 20px;
  }

  &__submit {
    margin: 0 10px 0 0;
  }
}
