@import "../../styles/variables";

.Recommendation {
  padding-top: 60px;
  padding-bottom: 75px;
  background-color: #f4f7f9;

  @media(--sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;

    @media(--lg) {
      font-size: 16px;
    }

    @media(--sm) {
      font-size: 14px;
    }
  }

  &__text {
    white-space: pre-line;
  }

  &__description {
    width: 100%;
    max-width: 750px;
    margin: 0 40px 0 0;

    @media(--lg) {
      max-width: calc(100% - 200px);
    }

    @media(--sm) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__preview {
    width: 160px;

    @media(--sm) {
      width: 100%;
    }
  }

  &__previewText {
    font-size: 15px;
    line-height: calc(20/15);
    font-weight: 400;
    margin: 10px 0 5px;

    @media(--lg) {
      font-size: 14px;
    }
  }

  &__previewAuthor {
    font-size: 11px;
    line-height: 16px;
  }

  &__img {
    width: 100%;
  }

  &__links {
    margin: 30px 0 0;

    @media(--sm) {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  &__link {
    color: var(--blue);
    text-decoration: none;
    margin: 0 5px;

    &:hover {
      color: var(--green)
    }
  }
}
