@import "../../styles/variables";

.Recommendation {
  padding-top: 60px;
  padding-bottom: 75px;
  background-color: #f4f7f9;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
  }

  &__description {
    width: 750px;
    margin: 0 40px 0 0;
  }

  &__preview {
    width: 160px;
  }

  &__previewText {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin: 10px 0 5px;
  }

  &__previewAuthor {
    font-size: 11px;
    line-height: 16px;
  }

  &__img {
    width: 100%;
  }

  &__links {
    margin: 30px 0 0;
  }

  &__link {
    color: var(--blue);
    text-decoration: none;
    margin: 0 5px;

    &:hover {
      color: var(--green)
    }
  }
}
