@import "../../styles/variables.css";

.SimpleButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 24px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  padding: 3px 9px;
  border-radius: var(--radius);
  border: 1px solid var(--color-dusty-gray);

  &:hover {
    border-color: var(--color-dodger-blue);
  }

  &:disabled {
    cursor: default;
    background: #BDBDBD;
    box-shadow: none;
  }
}
