@import "../../styles/variables.css";

.UserProfessions {
  padding: 20px 10px;
  margin: 20px 0;
  border-top: 1px solid rgba(135, 135, 135, 0.6);

  &__item {
    margin: 0 0 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;

    &_active {
      color: var(--color-indigo);
    }
  }

  &__button {
    position: relative;
    margin: 20px 0 0;
    background: none;
    border: none;
    color: var(--color-indigo);
    padding: 0 5px 0 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -6px;
      width: 12px;
      height: 12px;
      background: url("./icons/plus-green.svg") no-repeat center/contain;
    }

    &:hover {
      color: var(--color-royal-blue);
    }
  }
}
