@import "../../styles/variables.css";

.Auth {
  text-align: center;
  letter-spacing: -0.41px;

  &__login {
    background: #fff;
  }

  &__container {
    text-align: center;
  }

  &__label {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
  }

  &__logo {
    margin: 0 auto 80px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 43px;
    color: var(--color-indigo);
    background: #F8F7FC;
    font-size: 17px;
    line-height: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 6px auto;
    transition: var(--transition-fast);

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 6px 0 0;
      background: no-repeat center/contain;
    }

    &_fb {
      &:before {
        background-image: url("./icons/facebook-icon.svg");
      }
    }

    &_google {
      &:before {
        background-image: url("./icons/google-icon.svg");
      }
    }

    &:hover {
      color: #fff;
      background: var(--color-indigo);
    }
  }

  &__terms {
    white-space: pre-line;
    color: #555555;
    margin: 50px 0;
  }

  &__security {
    margin: 0 0 100px;
  }

  &__description {
    color: #555555;
  }

  &__faq {
    background: #F3F3F3;
  }

  &__faqRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__faqCol {
    max-width: 503px;
    width: 100%;
  }

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
