@import "../../styles/variables";

.Registration {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #f4f7f9;
    padding: 35px 45px 40px;

    @media(--sm) {
      padding: 20px;
    }
  }

  &__step {
    font-size: 14px;
    line-height: 1.55;

    @media(--sm) {
      font-size: 12px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin: 0 5px 0 0;
  }

  &__body {
    padding: 35px 45px 55px;
    min-height: 295px;
    white-space: pre-line;

    @media(--sm) {
      padding: 20px 20px 0;
      min-height: 0;
      white-space: normal;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 1.35;

    &_light {
      font-weight: 300;
    }

    @media(--sm) {
      font-size: 18px;
    }
  }

  &__text {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 1.55;
    margin: 15px 0 10px;

    @media(--sm) {
      font-size: 12px;
    }
  }

  &__footer {
    overflow: hidden;
    padding: 0 45px 50px;

    @media(--sm) {
      padding: 20px;
    }
  }

  &__submit {
    float: right;
  }
}
