@import "variables";

:global {
  * {
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    appearance: none;

    &:before, &:after {
      box-sizing: border-box;
    }
  }

  body {
    margin: 0;
    font-family: var(--Roboto);
    min-width: 320px;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 16px;
    background: var(--gray);
  }

  a {
    text-decoration: none;
  }

  img {
    border: none;
    width: auto;
    height: auto;
  }

  button {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }

  h1, .h1 {
    font-size: 32px;
    line-height: 37px;
    color: #424242;
    margin: 0 0 80px;

    @media(--lg) {
      font-size: 30px;
    }

    @media(--sm) {
      font-size: 24px;
    }
  }

  h2, .h2 {
    color: #424242;
    font-size: 36px;
    line-height: 1.23;
    font-weight: 500;
    padding: 0;
    margin: 0 0 calc(24/36)+em;

    @media(--lg) {
      font-size: 30px;
    }

    @media(--sm) {
      font-size: 24px;
    }
  }

  h3, .h3 {
    color: rgb(66, 66, 66);
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 calc(24/32)+em;

    @media(--lg) {
      font-size: 24px;
      line-height: normal;
    }

    @media(--sm) {
      font-size: 20px;
      line-height: normal;
    }
  }

  h4, .h4 {
    color: rgb(66, 66, 66);
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 calc(36/28)+em;

    @media(--lg) {
      font-size: 24px;
    }

    @media(--sm) {
      font-size: 18px;
    }
  }

  h5, .h5 {
    color: rgb(66, 66, 66);
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 calc(25/24)+em;

    @media(--lg) {
      font-size: 18px;
    }

    @media(--sm) {
      font-size: 16px;
    }
  }

  h6, .h6 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 calc(25/20)+em;

    @media(--lg) {
      font-size: 18px;
    }

    @media(--sm) {
      font-size: 16px;
    }
  }

  .typed-cursor {
    color: var(--color-dodger-blue);
  }

  strong, b {
    font-weight: 500;
  }

  .title-label {
    position: absolute;
    right: 10px;
    top: 5px;
    transform: translate(0, -100%);
    font-size: 12px;
    color: var(--color-dodger-blue)
  }
}
