@import "../../styles/variables";

.Banner {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 580px;
  padding: 100px 0;
  background: url("./image/banner.svg") no-repeat center top/contain;
  flex: 1 1 100%;
  text-align: center;

  &__title {
    min-height: 37px;
  }

  &__subtitle {
    margin-bottom: 8px;
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    margin: 100px auto 0;
  }
}
