@import "../../styles/variables";

.Banner {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 580px;
  padding: 100px 0;
  background: url("./image/banner.svg") no-repeat center top/contain;
  flex: 1 1 100%;
  text-align: center;

  &__subtitle {
    margin-bottom: 8px;
  }

  &__input {
    max-width: 472px;
  }

  &__footer {
    margin: 53px 0 0;
  }

  &__label {
    display: block;
    width: 100%;
    font-weight: 400;
    letter-spacing: -0.25px;
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    margin: 100px auto 0;
  }
}
