@import "../../styles/variables.css";

.HeaderMenu {
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  line-height: 16px;
  transition: var(--transition);

  &:hover {
    background: var(--color-link-water);
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--color-indigo);
    padding: 0 16px 0 0;
    background: none;
    border: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      border-right: 2px solid var(--color-indigo);
      border-bottom: 2px solid var(--color-indigo);
      transform: rotate(45deg);
      margin-top: -5px;
    }
  }

  &__avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-link-water);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin: 0 0 0 10px;
  }

  &__list {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100%;
    background: #fff;
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: var(--shadow);
    z-index: 10;
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    transition: var(--transition);
    white-space: nowrap;

    &:hover {
      background: var(--color-link-water);
    }
  }
}
