@import "../../styles/variables.css";

.HeaderMenu {
  position: relative;
  @apply --font-m;
  margin: 0 0 0 34px;

  @media(--xl) {
    margin-left: 25px;
  }

  @media(--lg) {
    margin-left: 15px;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-dodger-blue);
    background: none;
    border: none;
    cursor: pointer;
  }

  &__avatar {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-link-water);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media(--md) {
      width: 32px;
      height: 32px;
    }
  }

  &__button {
    color: var(--color-tundora);
    margin: 0 10px 0 0;

    &:hover {
      color: var(--color-dodger-blue);
    }
  }
}
