@import "../../styles/variables.css";

.HeaderMenu {
  position: relative;
  @apply --font-m;
  margin: 0 0 0 34px;

  @media(--xs) {
    margin-left: 10px;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-dodger-blue);
    background: none;
    border: none;
  }

  &__avatar {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-link-water);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media(--md) {
      width: 32px;
      height: 32px;
    }
  }

  &__name {
    margin: 0 0 0 10px;
  }

  &__list {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100%;
    background: #fff;
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: var(--shadow);
    z-index: 10;
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    transition: var(--transition);
    white-space: nowrap;

    &:hover {
      background: var(--color-link-water);
    }
  }
}
