@import "../../styles/variables.css";

.Resources {
  background: #fff;
  padding: 0 35px;
  border-radius: var(--radius-lg);

  &__header {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--color-gallery);

    &:last-child {
      border-bottom: none;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    @apply --font-s;
    color: var(--color-dusty-gray);

    &_full {
      width: 100%;
    }

    &_info {
      width: calc(730/1105*100%);
    }

    &_status {
      width: calc(170/1105*100%);
    }

    &_actions {
      width: calc(205/1105*100%);
    }
  }
}
