.Layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  &__aside {
    width: 250px;
    padding: 28px 20px;
  }

  &__data {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 100%;
    padding: 0 25px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
  }

  &__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &__container {
  }

  &__section {
    padding: 60px 0;
  }
}
