@import "../../styles/variables.css";

.Layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__aside {
    position: sticky;
    top: 0;
    flex: 260px 0 0;
    padding: 17px 40px 17px 0;

    @media(--xl) {
      flex-basis: 220px;
    }

    @media(--lg) {
      position: fixed;
      width: 220px;
      left: -220px;
      padding: 20px;
      z-index: var(--z-sidebar);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 80px 0 0;
    flex: 1 1 100%;

    @media(--md) {
      padding-top: 60px;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1 1 100%;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__footer {
    width: 100%;
    @apply --font-s;
    color: rgba(135, 135, 135, 0.6);
  }
}
