.Layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 10px 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;

  &__aside {
    position: sticky;
    top: 70px;
    width: 150px;
  }

  &__content {
    width: calc(100% - 200px);
  }

  &__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0  10px;
  }

  &__section {
    padding: 60px 0;
  }
}
