@import "../../styles/variables.css";

.ResourceContent {
  margin: 40px 0 0;

  &_loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
  }

  &__video {
    position: relative;
    padding-bottom: calc(100%/16*9);

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__date {
    margin: 10px 0 0;
    @apply --font-m;
    color: var(--color-dusty-gray);
  }

  &__text {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-line;
  }
}
