@import "../../styles/variables.css";


.Status {
  position: relative;
  padding: 0 0 0 20px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
  }
}
