@import "../../styles/variables.css";

.Dropdown {
  position: relative;

  &__enter {
    opacity: 0;
    will-change: opacity;

    &_active {
      opacity: 1;
      transition: opacity var(--transition-fast);
    }
  }

  &__exit {
    opacity: 1;
    will-change: opacity;

    &_active {
      opacity: 0;
      transition: opacity var(--transition-fast);
    }
  }
}
