@import "../../styles/variables.css";

.Dropdown {
  position: relative;

  &__enter {
    margin-top: 20px;
    opacity: 0;

    &_active {
      margin-top: 10px;
      opacity: 1;
      transition: var(--transition-fast);
    }
  }

  &__exit {
    opacity: 1;
    margin-top: 10px;

    &_active {
      margin-top: 20px;
      opacity: 0;
      transition: var(--transition-fast);
    }
  }
}
