@import "../../styles/variables.css";

.FoundResource {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-gallery);

  &:first-child {
    border-top: 1px solid var(--color-gallery);
  }

  &__content {
    width: calc(100% - 80px);

    @media(--xs) {
      align-items: flex-start;
      width: calc(100% - 32px);
    }
  }

  &:hover &__link {
    opacity: 1;
    visibility: visible;
  }

  &__link {
    color: var(--color-dusty-gray);
    border: none;
    padding: 0;
    background: none;
    width: 80px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-fast);

    &:hover {
     color: var(--color-dodger-blue);
    }

    @media(--lg) {
      opacity: 1;
      visibility: visible;
    }

    @media(--xs) {
      font-size: 0;
      width: 32px;
      height: 32px;
      background: url("./icons/copy.svg") no-repeat center/16px 16px;
    }
  }
}
