@import "../../styles/variables.css";

.Button {
  @apply --button;

  &_large {
    @apply --button-large;
  }

  &_plus {
    &:before {
      content: '+';
      display: block;
      margin: 0 4px 0 0;
      font-weight: 300;
      font-size: 28px;
    }
  }

  &_transparent {
    color: var(--color-silver);
    background: none;

    &:hover {
      color: var(--color-tundora);
      background: var(--color-alto);
    }
  }

  &_gray {
    color: var(--color-tundora);
    background: var(--color-alto);

    &:hover {
      background: var(--color-silver);
    }
  }
}
