@import "../../styles/variables.css";

.Button {
  min-height: 52px;
  width: 270px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 20px;
  border: none;
  background: var(--color-blue);
  color: #fff;
  outline-color: transparent;
  border-radius: var(--radius);

  &:disabled {
    cursor: default;
    background: #BDBDBD;
  }
}
