@import "../../styles/variables.css";

.ResourceStatus {
  position: relative;
  @apply --font-m;
  border: none;
  background: none;
  white-space: nowrap;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  &_backlog {
    &:before {
      background: var(--color-alto);
    }
  }

  &_plan {
    &:before {
      background: var(--color-saffron);
    }
  }

  &_done {
    &:before {
      background: var(--color-salem);
    }
  }
}
