@import "../../styles/variables.css";

.SkillStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  text-align: center;

  &__title {
    margin-bottom: 10px;
  }
}
