div(style="font-family: Arial, sans-serif; width: 780px; margin: 0 auto; background: #fff; color: #424242; font-size: 16px; line-height: 1.36; color: #424242;")
  img(src="https://lh3.googleusercontent.com/QTGcfq1oCz5V-9I6OYkTAhlZVvN38HEsbqFqIHlz69Etwib3u6uqvVNMGjDoPaWG8wrCRoFQ_6qfTRWlWyKz2GJIFX-cuL7_VV_5ejlvDaEbmyO-x69e436K9cRhT12mn4X7jWFtnxZKnYAOwTbArHcCx5T7M-eQupjnxCcCA-chqzBhLv3y_4v4JLqMi5vK6eKBf_I_9vo7E-C_j4_SwwSPIlKpMIxOA_HWX5rm8bjWYL8w8Hi-QY7rXjBq337lkNQxx-ymumU2TnmQH3qzaqSqvVthQ5-vXR_zo0E9so12OYYFbNLESbyKK8stIpL_0djQImeEDZxyL-JSDKXp4jzwGopSybEw5XXSjKr0bfnedRS_ondRdTIOorU0CqrQ0E3cppv2xO88lOamplItZpF6-PPIgBBrOTW3dVBcoPGkkd7oa0WEXlwDLNI8RAaCLswxA9PdSHr8FMDEftxqAAYQhtFfAowtt7_UjAP9uv8EHS87a-Cjg7Dv_AtcvQKkNFDfagShDrKy2X8RQFUau-ZFQWIPHCJNQlk5QWQS0JnPNF_3SFuuh9RgCkfZ3nOfZUcWIxpQt73bT_wITvbCTPNvpxODXY6Q2_M9E9BKlFbjbiakrCgxCVM-CQ=w1920-h941" alt="" style="width: 100%;")

  div(style="width: 666px; margin: 0 auto; padding: 0 10px;")
    h1(style="font-size: 24px; line-height: 28px; margin: 0; text-align: center; padding: 45px 0 45px;").
      We’re so happy to have you on board!

    div(style="text-align: left;")
      p(style="margin: 0 0 20px;")
        b Skillhunter helps you focus on developing skills
      p(style="margin: 0 0 20px;").
        Keep useful resources broken down by skills and focus on developing the skills that are needed at this point in time.
        Sorting resources by skills allows you to focus on the development of the necessary skills, and not on the chaotic study of different materials.

      p(style="margin: 0 0 20px;").
        At the same time, save everything that usually distracts you in the skill hunter, for example, links to useful resources sent in chats. And come back to them when you focus on the development of the skill in which you saved these resources.

      div(style="margin: 0 0 20px;")
        b Stay tuned for more
        div Coming soon:
        div - Drawing up a personal and public training plan
        div - Synchronization of skill sets with colleagues and subscription to interesting skill sets.

      p(style="margin: 0 0 20px;")
        b We declare the hunt for skills open

      p(style="margin: 0;").
        Add your first resource.

      div(style="padding: 50px 0;")
        a(href="https://skillhunter.io?utm=mail" style="background: #2F80ED; border-radius: 7px; font-weight: 600; font-size: 18px; line-height: 52px; color: #fff; width: 200px; display: block; margin: 0 auto; text-decoration: none; text-align: center;") Get started'


  div(style="background: #4C4C4C; padding: 16px 0; text-align: left; font-size: 0; line-height: 1;")
    div(style="width: 666px; margin: 0 auto; padding: 0 10px;")
      a(href="https://skillhunter.io" target="_blank")
        img(src="https://lh3.googleusercontent.com/fiFvDGFDjcYU26DOAojSOK1w-_GBj2UdaWqIZCh_vTRc_FUc-yYfj0OKHwvv7jTagmMyq8qNJe7DlFHqVzaX0lbLnvTjtGe2la5NnlGK-BnepaDUzBB_EGTwvv1ecrgz4MMXQ-xqNdBrnZBWYcWtz_Ein8j_xJLKfVQKqcnWngiHBJb9gG2PagYk8iXdYsvIx_zCuyLE8-9F_F0CbEexPhE2sU9vZgYzrjUSradG-cq-hXPfxuC3rjZDoqmJYerHjUF19CHo1cpUFszuysNIUB8yC2pU3k8iH7NrvGNSMlguiImS959-izqPqi7Sxjj9ZOf8aYY0lMeB86VLiwprXro_QQLv7bUf1pke8qgU8TkYUnNnH6Gf1JzDKb64vmHhFXC3oveHStKvSrq394RUMwUZUkITU0b8VD8JkyfytnK4PX1oMK6hAhflwbTt6AmQmLW0HAqQcDjGpg0d0NfT0aFK7owafT8DG32b-bYe4O0AYBWLtmwI5CEoCplx6ZWvbthKPVLrIK997Hwdmc5NEKjlOlvLj-LXyQB9b3qgonJB4V_toGdKSLckGW1gsryx_lv73s3d7Mg_pbzPes8t2AgifvsT_jM3gs4x2hM_03z9iTxWQ4tYai0m9Q=w1920-h892", alt="")

  div(style="padding: 35px 10px; text-align: center;")
    div(style="color: #999999; width: 100%; border: none; border-collapse: collapse; font-size: 12px; line-height: 14px;")
      b Join
      |  our chanels for early access to new features

      div(style="margin: 10px 0 30px;")
        a(href="https://skillhunter-io.slack.com" target="_blank" style="font-size: 0; text-decoration: none; color: inherit; margin: 0 10px;")
          img(src="https://lh3.googleusercontent.com/svMCMyemt7wGvpYahJ0CblqysjTjQwL7IlMmCj5WuyMjApwx0oFZuBahkUIIEtjd19Dh8WP4LDzV9Lvg4x8iQSjzmX5a3OEJDWMrtdBp_v7Vh3eRH6vxM2MsRutEISB46wpw2lkKIEf-A1Ex4W0hakD7R50y3y-kAK6b1i5y0ALQj5xo_fQUo6w3QK4hFJ3C33tO02bZ1cZdiyyvF2ZasV2TqlFT1Npg6-vKVaeCZivlo5lJKuToVppZXrn-gVxNd7N9aEa9KjMz-gY9g-cDD28Gmfv2d01_4TbbBS9nZy0UDByDAjlcxrRw2EgzH4LKKXvIuD1HrDzAjnNOTt7tRKgpPPY7fdZFgA7RGEZQPUTaoLD3QIhX6qr1Q8MfogcKkDALfo0d3GwBHRuYkiHWkDkg4kGSUTfhAE7YHr4VUXqE3luhD8dvtfJZ4h93lzdHPtCXlR192KzYeznHYfbAFZjd7rRUHRwVUO_eHOWIkwVNsNq_ieIT64W2R-4F3LpoZk-GLYkC2EUsXOgsa-dVkDj0d4hHTVlqK4QhqAr68Vg1j3LFgtkSLi08Ng2-3R8kaVFBClI0ak1aCBTcaKI52tJeCJHG5IBFzyjMmM5mpmADCUuRM-zA_YL1CA=w1920-h941", alt="" style="display: inline-block; vertical-align: middle;")

        a(href="https://t.me/skllhntr" target="_blank" style="font-size: 0; text-decoration: none; color: inherit; margin: 0 10px;")
          img(src="https://lh3.googleusercontent.com/sA6Soa1Trry6Yl2B8ILzRETxdUdI_l9JGFRnTxPvRDkFSueW5LbWnBKzhvLxw3hnB6hPIe4rSRcBqaRt-3ws5xSE-FCoZNUqu9E21YDMIddKxeih-xX6r8AoxTlCzjVZpDtDwHAxLbo6pqND01IlmrGfC8zPpDaQXxB6GYnL2k7K5PaK4TC-07EdTpshXVudy8NO0jlogPIYpiJN8n3goR9-OQbMEAQYBC7MyNiNvkCEH560WRNrs_FDDNIglewGCnSAhORMs_eFKG64urxoIi10sUFH9y8wiy_lZH8xPrSXTqVvt9PemaVH8Bg20cl5Y8MohsA0ZNhCFvCBeMNNrp4qFB8ecL7Wq-ENYO-0X0up0m6ctH3J_hK5shfXjax9Ndj2nKHP-Nl4UB5o6JD7PxhCMUxXPSwb6AAQPa6BFweSJ3X_gJa2NTgnfVW8lv5oTFcAWbwLW3tDBJh0on1jq3wTx6GK1YuTH_HbWF1nWRfA1YflOploi7F0ZT2yj-0OwmX0_qjCxmIokHsrf1cG7CTsQg24sfYN6gKZU5RmvKiyb1_8jm32C490EF-dtkzMFtjkKFMqDLIUuu7B8wXyXQxuPmCQ409Ze3C-HZH3R2GFEKwrc2oOuytaGg=w1105-h941", alt="" style="display: inline-block; vertical-align: middle;")

      div(style="font-weight: bold; margin: 0 0 15px;")
        a(href="https://app.skillhunter.io/settings?utm=mail" target="_blank" style="color: inherit; text-decoration: none;") Unsubscribe
        |  |
        a(href="https://skillhunter.io/static/files/privacy_policy_en.pdf?utm=mail" target="_blank" style="color: inherit; text-decoration: none;")  Privacy Policy

      p(style="margin: 0 0 20px;").
        You are receiving this email#[br]because you signed up for Skillhunter.

      div 233 Sansome Street, 12th Floor, San Francisco, CA 94104
      div © 2019 Skillhunter, Inc. All Rights Reserved.
