@import "../../styles/variables.css";

.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  text-align: center;
  padding: 80px 20px 20px;

  &__logo {
    margin: 0 auto 135px;

    @media(--xs) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin: 0;
  }

  &__label {
    @apply --font-xl;
    margin: 8px 0;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 43px;
    color: var(--color-dodger-blue);
    background: #F8F7FC;
    font-size: 17px;
    line-height: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 6px auto;
    transition: var(--transition-fast);

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 6px 0 0;
      background: no-repeat center/contain;
    }

    &_fb {
      &:before {
        background-image: url("./icons/facebook-icon.svg");
      }
    }

    &_google {
      &:before {
        background-image: url("./icons/google-icon.svg");
      }
    }

    &:hover {
      color: #fff;
      background: var(--color-dodger-blue);
    }
  }

  &__footer {
    margin: auto auto 0;
  }

  &__terms {
    line-height: 20px;
    color: var(--color-dusty-gray);
    margin: 35px 0 60px;
  }

  &__security {
    text-align: left;
    margin: 0 0 30px;
  }

  &__description {
    color: var(--color-dusty-gray);
    margin: 5px 0 0;
  }

  &__link {
    @apply --link;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
