@import "../../styles/variables.css";

.Steps {
  white-space: nowrap;

  &__content {
    display: inline-block;
    white-space: normal;
    width: 100%;
  }

  &__enter {
    transform: translate(100%, 0);

    &_active {
      transform: translate(0%);
      transition: var(--transition-fast);
    }
  }

  &__exit {
    transform: translate(-100%, 0);

    &_active {
      transform: translate(-200%, 0);
      transition: var(--transition-fast);
    }
  }
}
