.SkillSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;

  &__caption {
    margin: 0 0 35px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__input {
    margin-bottom: 30px;
  }

  &__button {
    margin-top: 30px;
  }
}
