@import "../../styles/variables.css";

.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 20px;

  &__img {
    height: 250px;
    margin: 0 0 20px;
  }

  &__title {
    font-weight: bold;
    @apply --h1;
  }

  &__subtitle {
    color: var(--color-dusty-gray);
    @apply --h2;
    font-weight: 300;
    margin: 0 0 40px;
  }

  &__submit {
    @apply --button;
    @apply --button-large;
  }

  &__submitLabel {
    @apply --button-label;
  }

  &__label {
    color: var(--color-dusty-gray);
    margin: 10px 0;
  }

  &__link {
    @apply --link;
  }
}
