@import "../../styles/variables.css";

.UserSkill {
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: var(--transition-fast);
  }

  &:hover {
    &:before {
      background: var(--color-alabaster);
    }
  }

  &:hover &__button {
    opacity: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__title {
    position: relative;
    @apply --font-xl;
    font-weight: normal;
    color: var(--color-indigo);
    margin: 0;
    padding: 0 0 0 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 14px;
      height: 10px;
      margin-top: -5px;
      background: url("./icons/skil-tag.svg") no-repeat center/contain;
    }
  }

  &__switcher {
    position: relative;
    @apply --font-m;
    border-radius: var(--radius);
    color: var(--color-indigo);
    padding: 2px 20px 2px 10px;
    border: none;
    background: none;
    transition: var(--transition-fast);

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -4px;
      width: 6px;
      height: 6px;
      border: solid var(--color-indigo);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &_hide {
      &:after {
        transform: rotate(-135deg);
        margin-top: -1px;
      }
    }

    &:hover {
      background: var(--color-link-water);
    }
  }

  &__button {
    opacity: 0;
    transition: var(--transition-fast);
  }

  &__body {
  }

  &__footer {
    text-align: center;
    padding: 15px 0;
  }
}
