@import "../../styles/variables.css";

.UserSkill {
  position: relative;
  background: #fff;
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    z-index: 10;
  }

  &__caption {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 14px 0;
    min-height: 68px;
    background: var(--color-desert-storm);
    z-index: 8;
  }

  &__caption:hover &__empty {
    visibility: visible;
    opacity: 1;
  }

  &__empty {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

    @media(--xs) {
      display: none;
    }
  }

  &__switcher {
    display: inline-flex;
    padding: 0;
    margin: 1px 4px 0 0;
    background: none;
    border: none;

    &:hover {
      path {
        fill: var(--color-dodger-blue);
      }
    }
  }

  &__link {
    path {
      fill: var(--color-tundora);
    }

    &:hover {
      color: var(--color-dodger-blue);

      path {
        fill: var(--color-dodger-blue);
      }
    }

    &_more {
      display: inline-flex;
      align-items: center;
      margin: 0 0 10px 35px;
    }
  }
}
