{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "import",
    "node",
    "promise",
    "standard",
    "react",
    "react-hooks"
  ],
  "globals": {
    "shallow": false,
    "mount": false,
    "render": false
  },
  "extends": [
    "standard"
  ],
  "rules": {
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "prefer-const": 2,
    "object-curly-spacing": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
