@import "../../styles/variables.css";

.Steps {
  white-space: nowrap;

  &__content {
    display: inline-block;
    white-space: normal;
    width: 100%;
  }

  &__enter {
    transform: translate(150%, 0);

    &_active {
      transform: translate(0%);
      transition: var(--transition);
    }
  }

  &__exit {
    transform: translate(-150%, 0);

    &_active {
      transform: translate(-300%, 0);
      transition: var(--transition);
    }
  }
}
