@import "../../styles/variables";

.Final {
  text-align: center;

  &__img {
    width: 100%;
    max-width: 510px;

    @media(--sm) {
      margin: 0 0 20px;
    }
  }

  &__title {
    color: #424242;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 calc(20/42)+em;

    @media(--lg) {
      font-size: 32px;
    }

    @media(--sm) {
      font-size: 26px;
    }
  }

  &__text {
    width: 100%;
    max-width: 620px;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(0, 0, 0, .45);
    margin: 0 auto;

    @media(--lg) {
      font-size: 16px;
    }

    @media(--sm) {
      font-size: 14px;
    }
  }
}
