@import "../../styles/variables";

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
  animation: FadeIn ease-in-out 1s;

  @media(--sm) {
    padding-top: 60px;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
