@import "../../styles/variables.css";

.Resources {
  padding: 0 0 calc(40 / 16)em;

  &__header {
    display: flex;
    align-items: center;
    padding: 14px 0;
    min-height: 68px;
  }

  &__back {
    margin-top: 3px;
  }
}
