@import "../../styles/variables.css";

.ResourceCreator {
  position: relative;
  z-index: 2;

  &__form {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -20px;
      left: -20px;
      top: -20px;
      bottom: -15px;
      background: #fff;
      border: 1px solid var(--color-alto);
      border-radius: var(--radius);
      z-index: -1;
    }
  }

  &__input {
    border-radius: var(--radius);
    border: 1px solid var(--color-cold-purple);
    width: 220px;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    transition: var(--transition);

    &:focus {
      border-color: var(--color-royal-blue);
    }
  }

  &__desc {
    @apply --font-s;
    margin-top: 5px;
  }
}
