@import "../../styles/variables.css";

.ResourceCreator {
  position: relative;
  z-index: 3;

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  &__form {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    background: var(--color-desert-storm);
    padding: 15px 25px 10px;
    border-radius: var(--radius);
    animation: ShowForm var(--transition-fast) forwards;
    transform-origin: left top;
    z-index: 2;
  }

  &__field {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
  }

  &__input {
    border-radius: var(--radius);
    border: 1px solid var(--color-cold-purple);
    width: 340px;
    height: 38px;
    padding: 0 10px;
    transition: var(--transition);

    &:focus {
      border-color: var(--color-blue-ribbon);
    }
  }

  &__desc {
    @apply --font-s;
    margin-top: 5px;
  }

  &__controls {
    display: flex;
    align-items: center;
    border-radius: 3px;
  }

  &__control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @apply --font-m;
    background: none;
    border: solid #C4C4C4;
    border-width: 1px 0 1px 1px;
    height: 38px;
    padding: 5px 15px;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 3px 3px 0;
    }

    &_active {
      background: var(--color-dodger-blue);
      color: #fff;
    }
  }
}

@keyframes ShowForm {
  from {
    transform: scale(0.4);
  }

  to {
    transform: scale(1);
  }
}
