@import "../../styles/variables";

.Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.55;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  overflow: hidden;
  background-color: var(--green);
  border: none;
  z-index: 0;
  transition: .6s;
  cursor: pointer;

  @media(--sm) {
    height: 40px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    &:before {
      background: rgba(255, 255, 255, .1);
    }
  }

  &:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    opacity: .6;
    cursor: default;
  }

  &_gray {
    background: #cbcbcb;
  }

  &_blue {
    background: var(--blue);
  }

  &_lg {
    font-size: 16px;
    min-width: 200px;
    height: 55px;

    @media(--sm) {
      min-width: 150px;
      height: 45px;
    }
  }

  &_sm {
    height: 40px;

    @media(--sm) {
      height: 35px;
    }
  }

  &_xs {
    height: 35px;
    font-size: 13px;
    text-transform: uppercase;

    @media(--sm) {
      height: 30px;
    }
  }
}
