@import "../../styles/variables.css";

.Menu {
  position: relative;
  display: inline-flex;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 26px;
    height: 26px;
    border: none;
    background: none;
    padding: 0;
    border-radius: var(--radius);
    transition: var(--transition-fast);
  }

  &__enter {
    margin-top: 10px;
    opacity: 0;

    &_active {
      margin-top: 0;
      opacity: 1;
      transition: var(--transition-fast);
    }
  }

  &__exit {
    opacity: 1;

    &_active {
      margin-top: 10px;
      opacity: 0;
      transition: var(--transition-fast);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
    @apply --font-m;
    overflow: hidden;
    border: var(--radius);
    box-shadow: var(--shadow);
    z-index: 10;
  }
}
