@import "../../styles/variables.css";

.Skillset {
  position: relative;

  &__empty {
    text-align: center;
    @apply --font-xl;
    max-width: 100%;
    width: 450px;
    margin: 100px auto 50px;

    &:before {
      content: '';
      display: block;
      width: 88px;
      height: 88px;
      margin: 0 auto 20px;
      background: url("./images/library-empty.svg") no-repeat center/contain;
    }

    @media (--md) {
      margin: 40px 0;
    }
  }

  &__emptyText {
    @apply --font-xl;
    font-weight: bold;
    line-height: 1.6;
    margin: 33px 0;
  }

  &__btn {
    font-weight: bold;
  }

  &__btnLabel {
    width: 100%;
    font-weight: normal;
    @apply --font-m;
  }
}
