@import "../../styles/variables.css";

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  text-align: center;

  @media(--xs) {
    flex-direction: column;
  }

  &__copyright {
    @media (--xs) {
      margin: 15px 0 0;
      order: 2;
    }
  }

  &__copyrightText {
    margin: 0 20px 0 0;

    @media (--md) {
      margin-right: 10px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    @media (--xs) {
      margin: 0 -10px;
    }
  }

  &__link {
    position: relative;
    padding: 0 20px;

    @media (--md) {
      padding: 0 10px;
    }

    &:after {
      content: '|';
      position: absolute;
      right: 0;
      color: var(--color-alto);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:hover {
      color: var(--color-dodger-blue);
    }
  }
}
