@import "../../styles/variables.css";

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(--xs) {
    flex-direction: column;
  }

  &__copyright {
    @media(--xs) {
      margin: 15px 0 0;
      order: 2;
    }
  }

  &__link {
    padding: 0 20px;

    &:after {
      content: '|';
      color: var(--color-alto);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:hover {
      color: var(--color-dodger-blue);
    }
  }
}
