@import "../../styles/variables.css";

.UserResource {
  position: relative;
  padding: 0 0 0 34px;
  margin: 0 0 5px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: no-repeat left center/contain;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_article {
    &:before {
      background-image: url("./icons/article.svg");
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: var(--radius);
    padding: 20px 40px;
    border: 1px solid rgba(229, 229, 229, 0.5);
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0 0 13px;
  }

  &__info {
    width: 625px;
  }

  &__title {
    @apply --font-l;
    font-weight: normal;
    width: 520px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 20px 0 0;
  }

  &__site {
    display: inline-block;
    @apply --font-s;
    color: var(--color-silver-chalice);
    transition: var(--transition);

    &:hover {
      color: var(--color-indigo);
    }
  }

  &__favicon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    margin: 0 10px 0 0;

    img {
      width: 100%;
    }
  }

  &__status {
    position: relative;
    @apply --font-m;
    color: var(--color-gray);
    border: none;
    background: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      border-radius: 50%;
    }

    &_backlog {
      &:before {
        background: var(--color-alto);
      }
    }

    &_plan {
      &:before {
        background: var(--color-saffron);
      }
    }

    &_done {
      &:before {
        background: var(--color-salem);
      }
    }
  }

  &__select {
    padding: 0 20px;
    width: 90px;
    background: url('./icons/select-arrow.svg') no-repeat 75px center/10px 6px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important; /*Removes border*/
    appearance: none;
    text-overflow: '';
    text-indent: 0.01px; /* Removes default arrow from firefox*/

    &::-ms-expand {
      display: none;
    }
  }

  &__sidebar {
    text-align: right;
    opacity: 0;
    transition: var(--transition-fast);
  }

  &:hover &__sidebar {
    opacity: 1;
  }

  &__menu {
    margin-right: -5px;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin: 13px 0 0;
  }

  &__control {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0 20px 0 0;
    transition: var(--transition-fast);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-royal-blue);
    }

    &_more {
      position: relative;
      color: var(--color-indigo);
      padding-right: 14px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
        width: 7px;
        height: 7px;
        border: solid var(--color-indigo);
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        transition: var(--transition-fast);
      }

      &:hover {
        &:after {
          border-color: var(--color-royal-blue);
        }
      }
    }
  }

  &__likes {
    @apply --font-s;
    margin: 0 8px 0 0;
  }
}
