@import "../../styles/variables.css";

.ProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--color-cornflower-blue);
  overflow: hidden;
  transform-origin: left;

  &__enter {
    width: 0;

    &_active {
      width: 75%;
      transition: 2s;
    }
  }

  &__exit {
    width: 75%;

    &_active {
      width: 100%;
      transition: 100ms;
    }
  }
}
